<a href="https://colab.research.google.com/github/iitzduuu/Atividades-faculdade/blob/main/pd1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
print('Hello World!')
print('Hello Jude 2.0!')

Hello World!
Hello Jude 2.0

In [ ]:
#2
x = 3*4+2*8
n = 'nome'
s = 'sobrenome'
c = n+' '+s
print(x)
print(c)

28
nome sobrenome

In [ ]:
#3
n1 = int(input())
n2 = int(input())
soma = n1+n2
print(soma)
subtracao = n1-n2
print(subtracao)
mult = n1*n2
print(mult)
div = n1//n2
print(div)
resto = n1%n2
print(resto)

2
3
5
-1
6
0
2

In [ ]:
#4
m1 = int(input())
energia1 = m1*120
m2 = int(input())
energia2 = m2*85
m3 = int(input())
energia3 = m3*50
m4 = int(input())
energia4 = m4*30

totalenergia = energia1+energia2+energia3+energia4
print(totalenergia)

100
60
45
37
20460

In [ ]:
#5
t1 = int(input())
t2 = int(input())
t3 = int(input())
t4 = int(input())
t5 = int(input())
t6 = int(input())

totaltesouros = t1+t2+t3+t4+t5+t6
print(totaltesouros)

1
2
3
4
5
6
21

In [ ]:
#6
a = int(input())
b = int(input())
c = int(input())
d = int(input())
e = int(input())
totalnaves = a-b-c-d-e
print(totalnaves)

55
1
2
3
4
45

In [ ]:
#7
total_dias = int(input())
anos = total_dias//365
resto_depois_dos_anos = total_dias % 365
meses = resto_depois_dos_anos//30
dias = resto_depois_dos_anos%30
print(f"{anos} ano(s)")
print(f"{meses} mes(es)")
print(f"{dias} dia(s)")

400
1 ano(s)
1 mes(es)
5 dia(s)

In [ ]:
#8
peso_cao1 = int(input("Digite a quantidade diária de ração para o primeiro cão (em gramas): "))
peso_cao2 = int(input("Digite a quantidade diária de ração para o segundo cão (em gramas): "))

total_semanal = (peso_cao1 + peso_cao2) * 7

peso_saco = (total_semanal + 999) // 1000

print(f"O peso mínimo do saco de ração que João deve comprar é: {peso_saco} kg")

Digite a quantidade diária de ração para o primeiro cão (em gramas): 100
Digite a quantidade diária de ração para o segundo cão (em gramas): 100
O peso mínimo do saco de ração que João deve comprar é: 2 kg

In [ ]:
#9
t1, t2, t3, t4, t5, t6 = map(int, input().split())
total_tesouros = t1 + t2 + t3 + t4 + t5 + t6
print(total_tesouros)

1 2 3 4 5 6
21

In [ ]:
#9
a, b , c, d, e = map(int, input().split())
total_naves = a - b - c - d - e
print(total_naves)

100 10 20 30 30
10

In [ ]:
k, j, h = map(int, input().split())

nk, nj, nh = map(int, input().split())

total_k = k + nk
total_j = j + nj
total_h = h + nh

print(f"{total_k} {total_j} {total_h}")

92 40 54
1 0 0
93 40 54

In [ ]:
t, d = map(int, input().split())
v, p = map(int, input().split())
total = t+d-v+p + 1
print(total)

100 51
2 50
200

In [ ]:

T, D = map(int, input().split())


V, P = map(int, input().split())


numero_pedagios = T // D


custo_total = (T * V) + (numero_pedagios * P)


print(custo_total)

100 51
2 50
250

In [ ]:

X = int(input())


if X <= 20:
    Y = 0
else:
    Y = (X - 20) // 5

print(Y)

30
2

In [ ]:

gramas_cao1 = int(input())
gramas_cao2 = int(input())

total_gramas = (gramas_cao1 + gramas_cao2) * 7


saco_kg = (total_gramas + 999) // 1000


print(f"{saco_kg}kg")

100
100
2kg